 
 
 .input {
     display: flex;
     flex-direction: column;
    max-width: 1000px;
 }
 .box1 {
     max-width: 140px;

 }
  .text {
      max-width: 400px;
  }
  .box4 {
      max-width: 140px;
  }