 .allInputs {
    font-size: 1.25em;
 }
 
 .input {
    font-size: 1.25em;
     display: flex;
     flex-direction: column;
    max-width: 1000px;
 }
 .box1 {
     max-width: 140px;

 }
  .text {
      max-width: 400px;
  }
  .box4 .dropdown {
      max-width: 140px;
  }

  .Entries {
      flex-direction: column;
  }
  .entryHeader {
      font-size: 1.5em;
      margin: .5em, 0, .5em, 0;
      
  }

  .entryList {
      font-size: 1.25em;
    margin: .5em;
  
  }
  
  #moodSelect{
      min-width:  600px;
      margin-left: -3em;
  }

  .Entries {
      border: solid;
      padding: 1em;
      margin: 1em;
      margin-left: -.5em;
  }
  button {
      margin-top: 1em;
  }

  .foundEntries {
      border: solid;
      padding: 1em;
      margin: 1em;
      margin-left: -.2em;
      background-color: lavender;
  }